// @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-stack: 'Roboto', sans-serif;
$color-primary: #f9e0ae;
$color-secondary: #fc8621;

// $color-bg-nav: #E5E7EB;
$color-bg-nav: #fff;
$color-bg-content: #ededed;
$color-bg-nav-gradient:linear-gradient(#eff8ff, #c9cbff);

$color-sub-header: #5e5e5e;
$color-slug: #d3d3d3;
$color-blue: #3648d3;
$color-light-blue: #889DE2;
$color-orange: #ffb531;
$color-green: #46CC4C;


body{
  font: $font-stack;
}

.bg-nav{
  background-color: $color-bg-nav;
  // background-image:  $color-bg-nav-gradient

}

.main-content{
  border-radius: 50px 0 0 50px;
  background-color: $color-bg-content;
}

.text-h1{
  font-size: x-large;
  font-weight: 600;
}
.text-h2{
  font-size: x-large;
  font-weight: 400;
}
.text-h2-alt{
  font-size: x-large;
  font-weight: 300;
}

.text-sub-header{
  font-size: x-large;
  font-weight: 400;
  color: $color-sub-header;
}


.text-h3{
  font-size: large;
  font-weight: 300;
}

.text-header{
  font-size:xx-large;
  font-weight: 600;
  margin-bottom: 10px;
}

.nav-active{
  background-color:$color-bg-content;
  border-radius: 5px 0 0 5px;
  padding: 12px 8rem 12px 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
.nav-inactive{
  color: #1F2937;
  font-size:x-large;
}

.login-logo {
  width:80px;
}

.navbar-icons{
  width: 20px;
}

.navbar-logo{
  width:50px
}

.text-p {
  font-size: medium;
  font-style: italic;
}

.error-text {
  font-size: medium;
  color: red;
}

.form-input{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}

.heightCustom{
  max-height: 600px;
}

.package-filter{
  padding-left: 10px;
  font-size: 16px;
}

.btn-1{
  padding: 10px 3rem;
  border-radius:7px;
  background-color: $color-primary;
}

.btn-login {
  background-color:$color-blue;
  color: white;
  font-size: x-large;
}

.btn-large{
  padding: 0.5rem 2rem;
  border-radius: 7px;
  margin-right: 10px;
  background-color: $color-primary;
}
.btn-large-action{
  padding: 1rem 4rem;
  border-radius: 7px;
  margin-right: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.btn-plus {
  padding:2px 10px;
  border-radius: 7px;
  background-color: $color-green;
  color: white;
  font-weight: bold;
}
.btn-plus-2 {
  padding:10px 10px;
  border-radius: 7px;
  background-color: $color-green;
  color: white;
  font-weight: bold;
}

.btn-image {

}

.btn-text{
  font-size: 16px;
}

.camera-box{
  background-color: blue;
  width: 400px;
  height:400px;
}

.nav-text{
  font-size: large;
  font-weight: 500;
  margin-bottom: 10px;
}


.summary-box{
  background-color: $color-blue;
  max-width : 700px;
  max-height: 150px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.summary-box-text-header{
  color: white;
  font-size: 50px;
}
.summary-box-text-slug{
  color: $color-slug;
  font-size: 14px;
}


.package-card{
  width: 500px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: $color-blue;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.package-card-title {
  font-size: x-large;
  color: $color-orange;
}

.package-card-description{
  color: white;
  font-size: medium;
}

.package-card-receivedBy {
  color: $color-light-blue;
  font-size: small;
}

.package-card-moment {
  color: $color-light-blue;
}